/* 전체 초기화 */
* {
  padding: 0;
  margin: 0;
  font-family: "NanumGothicCoding";
}

/* 컨테이너 설정 */

.myContainer {
  background-color: white;
  border: 2px solid rgb(250, 208, 0);
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  min-height: 100%;
}

/* 헤더 설정 */
.myHeader {
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
  height: 10%;
  justify-content: center;
}

/* 헤더 로고 설정 */
.headerLogo {
  display: flex;
  justify-content: end;
  width: 58%;
  height: 100%;
}

.headerLogo > img {
  width: 30%;
  height: 100%;
}

/* 헤더 가운데 설정 */
.headerCenter {
  display: flex;
  justify-content: center;
  width: 40%;

  align-items: flex-end;
  justify-content: end;
}
.headerCenter > h2 {
  margin-top: 15px;
}

/* 메인 영역 설정 */
.myMain {
  width: 100%;
  height: 90%;
}

/* 왼쪽 카테고리 설정 */
.kategorie {
  border: 1px solid lightgrey;
  width: 12%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: none;
}
.myBtn {
  display: flex;
  height: 100%;
  background-color: rgb(258, 208, 0);
  color: white;
  border: 1px;
  border-radius: 5px;
  margin: 30px;
}
.myBtn > img {
  margin: 1px;
  width: 30%;
  height: 80%;
}

/* 카테고리 버튼 설정 */
.btnGroup {
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none;
  height: 13%;
  margin-top: 30px;
}
.btnGroup:hover {
  background-color: gold;
  border-bottom-color: black;
}
#btnBox {
  width: 100%;
  height: 50%;
}
.btn.active {
  background-color: gold;
}

/* 카테고리 텍스트 설정 */
#kategorieText {
  font-size: 27px;
}

/* 스크린 설정 */
.screenHd {
  width: 100%;
  height: 100%;

  border-bottom: 1px solid black;
}
.screenHeader {
  display: flex;
  justify-content: space-around;

  width: 100%;
}
.screenSelect {
  width: 25%;
}
.screenSelect > button {
  background-color: white;
  font-weight: bold;
  border: none;
  width: 85px;
  height: 30px;
}

td > img {
  width: 40%;
  height: 80%;
}
a:hover {
  cursor: pointer;
}
#noticeBox {
  width: 100%;
  height: 100px;
  border: 1px solid red;
}

/* 카드 설정 */
.card {
  margin: 20px;
}
