* {
  padding: 0;
  margin: 0;

}

/* 컨테이너 설정 */
.myContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* border: 2px solid black; */
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}
