* {
  padding: 0;
  margin: 0;
  font-family: 'NanumGothicCoding';
}

html {
  overflow: auto;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
}

.wrap {
  background-color: white(248, 249, 251);
  border: 2px solid #d3d3d3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 550px;
  height: auto;
  min-height: 120%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 70px;
}

/* Header section */
.header {
    background-color: rgb(248, 249, 251);
    position: fixed;
    top: 0;
    min-width: 550px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hicon {
 width: 20%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.hicon img {
  width: 50px;
  height: 50px;
}

.htext {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
       font-weight: 800;
}
.blankbox{
width: 20%;
height: 100%;

}

/* Navigation section */
.nav {
    min-width: 550px;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ntext {
    width: 90%;
    height: 100%;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
     font-weight: 600;
}

/* Section */
.section {
      min-width: 550px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.stext {
     font-size: 23px;
     line-height: 60px;
     height: 25%;
     width: 85%;
     font-weight: 800;
}

.sec_inner {
 display: flex;
     height: 50%;
     width: 100%;
     justify-content: center;
}

.inner_img {
  width: 30%;
  height: 100%;
  display: flex;
      justify-content: center;
}

.inner_img img {
  width: 90%;
  height: 100%;
}

.inner_text {

  width: 50%;
  height: 100%;
}

.inner_cancle {
  text-align: center;
      width: 10%;
      height: 16%;
      border-radius: 50%;

}
#cencelbutton{
width:30px;
height:30px;
}

.inner_text_1 {
  font-weight: 700;
}

.inner_text_2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#btnbox1{
width:30%;
height:100%;
}

#btnbox2{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.sbtn {
  height: 25%;
  width: 90%;
  display: flex;
  justify-content: center;
}

.btn {
      width: 33%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

#plusbtn {
  width: 70%;
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      border: none;
}

#result {
          width: 33%;
          height: 100%;
          font-size: 30px;
          font-weight: 800;
          display: flex;
          justify-content: center;
          margin-top: 14px;
}

#minusbtn {
      width: 70%;
          height: 70%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: white;
          border: none;

}
#plusbotton,#minusbotton{
width:100%;
height:100%;}

.price {
  font-size: 25px;
      width: 35%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
       font-weight: 800;
}

/* Aside section */
.aside {
  margin-top: 20px;
  min-width: 550px;
  height: 80px;
  background-color: rgb(248 248 247);
  text-align: center;
  line-height: 80px;
   font-weight: 600;
}

/* Footer section */
.footer {
  min-width: 550px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ftext {
  width: 90%;
      height: 100px;
      display: flex;
      justify-content: space-between;
}

.footer_inner_text {
  width: 40%;
  height: 100%;
  font-size: 24px;
  margin-left: 20px;
  line-height: 100px;
   font-weight: 800;
}

.footer_inner_price {
  width: 40%;
  height: 100%;
  font-size: 30px;
  text-align: right;
  margin-right: 20px;
  line-height: 100px;
  color: red;
  font-weight: 800;
}

/* Footer button */
.fbtn {
  width: 90%;
  height: 100px;
}

.fbtn button {
  width: 100%;
      height: 60%;
      border-radius: 10px;
      border: none;
      background-color: rgb(160 77 77);
      font-size: 28px;
      color: white;
      font-weight: 800;
}
