html {
  overflow: auto;
  font-family: 'NanumGothicCoding';
}
* {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  overflow: hidden;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  flex-wrap: nowrap;
}
.container {
  background-color: white;
  border: 2px solid #d3d3d3;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 550px;
  height: 100%;
  min-height: 100%;
}
.logo {
  width: 100%;
  height: 650px;
  position: relative;
}
.logo > img {
  position: absolute;
  justify-content: center;
  top: 200px;
  left: 140px;
}
.login {
  position: relative;
  width: 100%;
  height: 100px;
}

.join {
  width: 100%;
  height: 700px;
  position: relative;
}
button {
  border: none;
  background-color: rgb(258, 208, 0);
  width: 250px;
  height: 50px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(222, 222, 16);
}
