/* html {
  overflow: auto;
} */
* {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  /* overflow: auto; */
  overflow: hidden;
  font-family: "NanumGothicCoding";
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  flex-wrap: nowrap;
}
.container {
  background-color: white;
  border: 2px solid #d3d3d3;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 550px;
  height: auto;
  min-height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;

}
.main{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.input-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#megaimg1 {
  width: 70%;
  height: 100%;
}
#imgbox {
  width: 100%;
  height: 150px;
  display: flex;
  justify-items: center;
  align-items: center;
}
#megaimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.input-form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.validation-form{
width:90%;

}

#inputbox{
width:60%;
height:100%;
}

.custom-control-label
{font-weight: 800;
}
.joinbox{
font-weight: 800;}
.footer-p{
font-weight: 800;}
.labelbox{
width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}