* {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  overflow: auto;
  overflow-x: hidden;
  font-family: 'NanumGothicCoding';
}
body {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #f0f0f0;
  flex-wrap: nowrap;
}
.container {
  background-color: white;
      border: 2px solid #d3d3d3;
      text-align: center;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      width: 550px;
      height: auto;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.head {
  display: flex;
      flex-direction: column;
      font-size: 18px;
      width: 100%;
      align-items: center;
      height: 100px;
      font-weight: 900;
}
.nav-link {
  color: black;
  padding: 0;
}
.nav {
 display: flex;
     justify-content: flex-start;
     align-items: center;
     width: 90%;
     height: 60%; /* 내비게이션 아이템들을 왼쪽으로 정렬 */
}

.nav-item {
  margin-right: 10px; /* 네비게이션 아이템 간 간격 설정 */
}

#user-info {
      display: flex;
      align-items: center;
      width: 90%;
      height: 40%; /* user-info와 네비게이션 사이의 간격 설정 */
}
#user-nickname {
  font-size: 25px;
  font-weight: bold;
}


/* 여기까지 완료 이미지 목록 */
.section {
 position: relative;
     height: 280px;
     width: 90%;
     display: flex;
     justify-content: center;
     align-items: start;
}
.image-text {
  display: block;
  position: absolute;
  top: 89%;
  left: 93%;
  transform: translate(-50%, -50%);
  color: white;
  height: 70px;
}
#linkcontainer{
    width: 90%;
    height: 830px;
    display: flex;
    flex-direction: column;
    padding-top:30px;
}
/* 여기까지 완료 */
.center {
  height: 150px;
      width: 100%;

      color: gray;
      display: flex;
      flex-direction: column;
}
#membership{
text-align: start;
    font-size: 17px;
    height: 20%;
}
.center-box {
display: flex;
    flex-direction: column;
    font-weight: bold;
    height: 80%;

}

#center-text1{
height:33%;
display:flex;
align-items: center;
font-size: 20px;

}
#center-text2{
height:33%;
display:flex;
align-items: center;
font-size: 20px;
}
#center-text3{
height:33%;
display:flex;
align-items: center;
font-size: 20px;
}
.center-box > a {
  text-decoration: none;

  color: black;
  font-size: 15px;
}



/* 여기까지 완료 */
.under {
  margin-top: 20px;
  height: 300px;
  width: 100%;
  font-size: 17px;
  text-align: start;
  color: gray;

}
.under-box {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.under-box > a {
      text-decoration: none;
      margin-top: 10px;
      color: black;
      font-size: 20px;
}
/* 여기까지 완료 */
.end {

      height: 140px;
      width: 100%;
      font-size: 17px;
      text-align: start;
      color: gray;
}
.end-box {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.end-box > a {
  text-decoration: none;
      margin-top: 10px;
      color: black;
      font-size: 20px;
}
.last1 {

        height: 90px;
        width: 100%;
        font-size: 17px;
        text-align: start;
        color: gray;
}
.last1-box {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.last1-box > a {
  text-decoration: none;
      margin-top: 10px;
      color: black;
      font-size: 20px;
}
/* ----- css --- */
.footer {
  z-index: 1;
  width: 546px;
  height: 80px;
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}
.fmenu {
  width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.fimg {
  width: 100%;
  height: 70%;

  text-align: center;
}
.ftext {
  width: 100%;
      height: 25%;
      text-align: center;
      font-weight: 800;
      font-size: 18px;
}
.fimg > img {
          width: 30px;
          height: 30px;
}

/* test */
/* .test1 {
  background-image: url("/Image/lastpage_bb1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 330px;
  display: flex;
  align-items: end;
  justify-content: end;
}
.test-txt {
  margin-bottom: 20px;
  margin-right: 5px;
} */
