* {
  padding: 0;
  margin: 0;
  font-family: 'NanumGothicCoding';
}
html {
  overflow: auto;
}
html,
body {
  min-height: 100%;
}
body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
}
.wrap {
  background-color: rgb(248, 249, 251);
  border: 2px solid #d3d3d3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 550px;
  height: auto;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 100px;
}
.header {
 background-color: rgb(248, 249, 251);
     position: fixed;
     top: 0;
     min-width: 550px;
     height: 100px;
     border-bottom: 1px solid lightgray;
     display: flex;
     flex-direction: column;
     padding-top: 10px;
}
.header2 {
    width: 100%;
    display: flex;
    align-items: center;
        justify-content: center;
    height: 70%;
}

.himg {
          width: 15%;
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
}
.himg img {
  width: 30px;
      height: 30px;
}
.hbtn {
      width: 90%;
      height: 60%;
      display: flex;
      align-items: center;
}
.hbtn_event {
  font-size: 24px;
      font-weight: 800;
      border-bottom: 3px solid black;
      width: 20%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
}
.hbtn_notice {
      font-weight: 300;
      font-size: 22px;
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.section1 {
  height: 320px;
  width: 100%;
  margin-top: 30px;

  display: flex;
  flex-direction : column;
  align-items : center;
}
.image-container {
      width: 90%;
      height: 85%;
      margin-bottom: 15px;
      border-radius: 15px;
      overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
}
#d1st-tx {
  width: 90%;
      height: 15%;
}
#tx-1 {
      width: 100%;
      height: 100%;
      text-align: start;
      color: black;
      text-decoration: none;
      display: flex;
      align-items: start;
      flex-direction: column;
      justify-content: center;
}
#tx-1 h2 {
  font-size: 20px;
}
#tx-1 p {
  font-size: 14px;
}
