html {
  overflow: scroll;
}
* {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  overflow: hidden;
}
body {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #f0f0f0;
  flex-wrap: nowrap;
}
.container {
  background-color: white;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 550px;
  height: 100%;
  min-height: 100%;
}
.main {
  width: 522px;
      height: 8%;
      background-color: white;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
}
#toptitle {
  /* text-align: center; */
  line-height: 120px;
  font-size: 30px;
  font-weight: bold;
}
.top {
          margin-top: 90px;
          width: 100%;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
}
#topinner {
         width: 100%;
         height: 100%;
         background-color: black;
         color: white;
         font-size: 20px;
         font-weight: 800;
         display: flex;
         align-items: center;
         justify-content: center;
}
.section {

         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         height: 350px;
}

.section-box1{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-box2{
       width: 100%;
       height: 25%;
       display: flex;
       align-items: center;
       justify-content: center;
}
.section-box3{
    width: 100%;
        height: 10%;
        display: flex;
        align-items: start;
        justify-content: center;
}
#imgcont {
      width: 70%;
      height: 60%;
      display: flex;
      align-items: center;
      justify-items: center;
}
#imgcont img {
  width: 100%;
  height: 100%;
}
#ordernum {
     font-size: 40px;
     font-weight: bold;
     background-color: antiquewhite;
     border-radius: 10px;
}
#ordertime {
     font-size: 20px;
     font-weight: 900;
     background-color: aliceblue;
     border-radius: 5px;
}
.footer {
     width: 100%;
     height: 350px;
     display: flex;
     flex-direction: column;
     align-items: center;
}
#order1 {
      width: 60%;
      height: 80%;
      display: flex;
      align-items: start;
      justify-content: center;
      background-color: #fbfbfb;
      border-radius: 20px;
}
#order1 img {
  width: 100%;
  height: 100%;
}
#orderbox {
      width: 90%;
      height: 20%;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
#order2 {
     width: 30%;
         font-size: 23px;
         font-weight: 800;
         display: flex;
         justify-content: center;
}
.price {
font-family: bold;
    color: gray;
    font-size: 22px;
    display: flex;
    justify-content: end;
    width: 70%;
    font-weight: 800;
}
.end {
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: column;
          align-items: center;
          justify-content: center;
}
#endbox {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 30%;
        align-items: center;
        border-top: 1px solid lightgray;
}
#payment {
  font-size: 30px;
      font-weight: bold;
      width: 40%;
      height: 80%;
      display: flex;
          align-items: center;
          justify-content: center;
              background-color: #ebebeb;
              border-radius: 10px;
}
.payment1 {
font-size: 25px;
     font-weight: bold;
     width: 50%;
     height: 80%;
     display: flex;
     align-items: center;
     justify-content: end;
}
#endbox2 {
  display: flex;
  justify-content: space-between;
      align-items: center;
  width: 90%;
  height: 30%;
}
#stamp {
  font-size: 20px;
        font-weight: bold;
        width: 40%;
        height: 80%;
        display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fce5e5;
                border-radius: 10px;
}
#stamp1 {
 font-size: 25px;
     font-weight: bold;
     width: 50%;
     height: 80%;
     display: flex;
     align-items: center;
     justify-content: end;
}
.jinseokjjang{
width:100%;
height:200px;
}
#endbox3{

height:30%;}