html {
  overflow: auto;
  font-family: 'NanumGothicCoding';
}
* {
  padding: 0;
  margin: 0;
}
html,
body {
}
body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
}
.wrap {
    background-color: rgb(255 255 255);
    border: 2px solid #d3d3d3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 550px;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 100px;
    align-items: center;
}

/* ---------- */
/* ---------- */
/* 모달 바코드 */
/* ---------- */
/* ---------- */

/* 모달 오버레이 스타일 */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 어둡게 만들기 위한 RGBA 색상 사용 */
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 50;
  z-index : 5;
  }


/* 모달 바코드 */
.modal_barcode {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%; /* 가운데 정렬을 위해 추가 */
  width: 350px;
  height: 400px;
  padding: 20px;
  text-align: center;
  background-color: #fff; /* 흰색 배경 */
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translate(-50%, -50%); /* 가운데 정렬을 위해 추가 */
  z-index: 100;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out; /* 모달 나타남에 대한 애니메이션 */
}

.barcode_box {
  width: 100%;
  height: 100%;
}

.barcode_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 45%;
}

.barcode_logo{
      width: 100%;
      height: 70%;
}
.barcode_text{
  width: 100%;
      height: 30%;
      font-size: 20px;
      font-weight: 900;
}
.barcode_logo img{
width: 90%;
    height: 100%;
}
.barcode_img{
  width: 100%;
  height: 30%;
}
.barcode_img img{
  width: 100%;
  height: 100%;
}
.barcode_footer{
  width: 100%;
      height: 20%;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 800;
}

/* ---------- */
/* ---------- */
/* 모달 아이탬 */
/* ---------- */
/* ---------- */

.modal_item{
  position: absolute;
  display: none;
  top: 90%;
  width: 350px;
  height: 600px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgb(34, 36, 38, 0.15);
  transform: translateY(-50%);
  z-index: 3;
}
.item_box{
width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item_img{
     width: 100%;
     height: 40%;
     display: flex;
     align-items: center;
     justify-content: center;
}
.item_img img {
  width: 50%;
      height: 70%;
      background-color: whitesmoke;
      border-radius: 20px;
}
.item_name{
    width: 100%;
        height: 8%;
        font-size: 20px;
        font-weight: 900;
        border-bottom: 1px solid lightgray;
}
.item_text{
     width: 100%;
     height: 15%;
     display: flex;
     align-items: center;
     font-weight: 800;
}
.item_btn{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.itembtn{
  width: 40%;
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgb(164 86 86);
}
.item_cancel{ 
        width: 90%;
        height: 50px;
        box-sizing: border-box;
        background-color: rgb(219 219 219);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: larger;
        font-weight: 800;
        border-radius: 10px;
}
.itembtnimg{
      width: 50%;
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;

}
.itembtnimg img{
filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(81deg) brightness(115%) contrast(100%);
 width: 90%;
     height: 90%;
}
.itembtntext{
 width: 50%;
     height: 40%;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: 600;
}


/* ******************** */
/* ******************** */
/* ******************** */
/* ******************** */
/* ******************** */

/* 해더 메인해더*/
.header {
  width: 100%;
      height: 350px;
      position: relative;
      display: flex;
      justify-content: center;
}
#mainimg {
     position: absolute;
     top: 0;
     height: 350px;
     width: 90%;
     padding-top: 10px;

}
#mainimg > img {
  width: 100%;
  height: 100%;
}
#himg {
display: flex;
    justify-content: end;
    width: 85%;
    height: 15%;
    padding-top: 10px;

}
#himg-1,
#himg-2 {
 height: 10%;
     width: 6%;
     padding: 10px;
}
#himg-1 > img,
#himg-2 > img {
    height: 25px;
        width: 25px;
}

/* nav 스탬프,쿠폰*/
.nav {
  width: 100%;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
#username {
  width: 90%;
      height: 30%;
      line-height: 50px;
      display: flex;
      align-items: center;
      font-weight: 800;
          font-size: 25px;
}
#navbtn {
      width: 90%;
      height: 40%;
      display: flex;
      border: none;
      background-color: #e8f0f4;
      border-radius: 10px;
      align-items: center;
}
#navbtn-1 {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbtnimg,
#navbtntext {
  height: 100%;
}

/* ~~ 님 */
#navbtntext {
     width: 100%;
     display: flex;
     align-items: center;
     justify-items: center;
     font-weight: 800;

}
/* 스탬프,쿠폰이미지 div */
#navbtnimg {
width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbtnimg > img {
  width: 70%;
      height: 70%;
}

/* 섹션 중앙이벤트배너*/
.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#secimg {
      width: 90%;
      height: 90%;
      border-radius: 10px;
      background-image: url(/img/notice/notice3.jpg);
      background-repeat: no-repeat;
      background-size: 500px 300px;
      display: flex;
}
#sectext {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* aside 상품추천탭 */
.aside {
      width: 100%;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
}

#astext {
      width: 90%;
      height: 20%;
      font-size: 20px;
      display: flex;
      align-items: end;
            font-weight: 800;
}

#asswiper {
  width: 100%;
  height: 80%;
}

#asslide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#asslide:hover{
 background-color: #f0f0f0;
    opacity:0.9;
    border-radius:10px;
}
#asslide_imgbox{
    height: 80%;
    display: flex;
        align-items: center;
        justify-content: center;
}
#asslide_textbox{
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: start;
              font-weight: 800;
}
#asslide_imgbox img {
  width: 90%;
  height: 90%;
}

/* 공지사항 탭 */
.notice {
  width: 100%;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
}
#notext {
     display: flex;
     justify-content: space-between;
     align-items: end;
     height: 20%;
     width: 90%;
}

#noswiper {
      width: 90%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
}

#noslide {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}
#noslide:hover{
background-color: #f0f0f0;
    opacity:0.9;
    border-radius:10px;
}
#noslide_imgbox{
height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#noslide_textbox{
height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
        font-size: 18px;
}
#noslide_imgbox img {
      width: 100%;
      height: 95%;

}

#notext1{
    font-weight : 800;
    font-size:28px;

}
#notext2{
    color: #81b4f7;
        font-size: 20px;
        font-weight: 800;

}
/* 푸터 하단메뉴*/
.footer {
  z-index: 1;
  width: 550px;
  height: 80px;
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}
.fmenu {
  width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.fimg {
  width: 100%;
  height: 70%;

  text-align: center;
}

.ftext {
  width: 100%;
      height: 25%;
      text-align: center;
      font-weight: 800;
      font-size: 18px;
      cursor: pointer;
}
#footer-img1 {
         width: 30px;
         height: 30px;
         cursor: pointer;
}
#footer-img2 {
         width: 30px;
         height: 30px;
         cursor: pointer;
}
#footer-img3 {
         width: 40px;
         height: 35px;
         cursor: pointer;
}
#footer-img4 {
         width: 40px;
         height: 35px;
         cursor: pointer;
}
