html {
  overflow: auto;
  font-family: "NanumGothicCoding";
}
* {
  padding: 0;
  margin: 0;
}
html,
body {
}
body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
.wrap {
  background-color: rgb(255, 255, 255);
  border: 2px solid #d3d3d3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 550px;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 50px;
  justify-content: center;
      align-items: center;
}

/* 해더부분 */
.header {
      background-color: rgb(255, 255, 255);
      position: fixed;
      top: 0;
      z-index: 100;
      width: 548px;
      height: 80px;
      display: flex;
      justify-content: space-around;
}


.hicon {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hicon_1 {
 width: 50%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-items: center;
}
.hicon_1 > img {
  width: 80%;
      height: 50%;
}
.hicon_2 {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hicon_2-1,
.hicon_2-2 {
  width: 50px;
  height: 100%;
  margin-left: 10px;
}

.htext {
     width: 40%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.htext > p {
  font-size: 25px;
      display: flex;
      align-items: center;
      justify-items: center;
      margin: 0;
      font-weight: 800;
}

/* nav 영역 슬라이드 */
.nav {
      margin-top: 90px;
      width: 100%;
      height: 100px;
      justify-content: center;
}
.swiper-wrapper{
width: 100%;
    transition-duration: 300ms;
    transform: translate3d(0px, 0px, 0px);

    display: flex;
    align-items: center;
}
.swiper-slide
{    flex-shrink: 0;
         width: 100%;
         height: 100%;
         position: relative;
         transition-property: transform;
         display: flex;
         justify-content: center;
         align-items: center;
}
#navslide_button{
display:flex;

}
.navslide_button {
  width: 20%;
  height: 100%;
}
.navslide_button button {
      width: 90%;
      height: 100%;
      border-radius: 30px;
      font-weight: 900;
}
.nav_text {
 width: 90%;
     height: 60%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
#nav_left_text{
    width: 20%;
    display: flex;
    justify-content: center;
    font-weight: 800;
}
#nav_right_text {
      width: 20%;
      display: flex;
      justify-content: center;
      font-weight: 800;
}

/* item_list */
.item_list {
  width: 90%;
  height: auto;
  font-weight: 800;
  justify-content: center;
}

/* 3줄로 볼때 */
.item_box {
  height: 190px;

}
.item_img {
  height: 70%;
}
.item_img img {
  height: 100%;
  width: 100%;
}
.item_text {
  height: 30%;
  text-align: center;
  height: auto;
}
.item_name {
  text-align: center;
  height: auto;
}
.item_price {
  text-align: center;
  height: auto;
}

/* 1줄로 볼때  */
.item_box_one {
  height: 150px;
}
.item_box_one .item_img {
 height: 100%;
     width: 27%;
     display: flex;
     align-items: center;
     justify-content: center;
}
.item_box_one .item_img img {
      height: 85%;
      width: 100%;
}
.item_box_one .item_text {
  height: 100%;
  width: 73%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item_box_one .item_text .item_name {
      width: 100%;
      text-align: center;
}
.item_box_one .item_text .item_price {
      width: 100%;
      text-align: center;
}

/* 공지사항 탭 */
.information {
      width: 100%;
      height: 300px;
      background-color: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 30px;
      font-weight: 800;
}
#information-name {
display: flex;
    justify-content: start;
    width: 100%;
    align-items: center;
}
#information-name h6{
font-size: 20px;
    font-weight: 800;
}

#information-p {
  font-size: 13px;

}
#information-a {
  font-size: 13px;
      color: #000000;
      text-decoration: none;
      width: 15%;
      display: flex;
      justify-content: center;
}
#information-a2 {
  font-size: 13px;
      color: #000000;
      text-decoration: none;
      width: 25%;
      display: flex;
      justify-content: center;
}
#infobox1 {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 90%;

}
#infobox2 {
display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    width: 100%;
}

/* 푸터 */
.footer {
 width: 550px;
     height: 80px;
     display: flex;
     position: fixed;
     bottom: 0;
     background-color: #080808;
     justify-content: end;
     align-items: center;
}

.fimg {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fimg img {
  width: 40%;
      height: 50%;
  filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(81deg) brightness(115%)
    contrast(100%);
}
