html {
  overflow: scroll;
}
* {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  /* overflow: auto; */
  /* overflow: hidden; */
}
body {
  display: flex;
  justify-content: center;
  height: 200vh;
  background-color: #f0f0f0;
  flex-wrap: nowrap;
}
.container {
  background-color: white;
  border: 2px solid #d3d3d3;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 550px;
  height: auto;
  min-height: 100%;
}
.header {
  width: 100%;
  height: 50px;
  display: flex;
}
#top-left {
  text-align: start;
  width: 50%;
  height: 150px;
  margin-left: 5px;
}
#top-right {
  text-align: end;
  margin-right: 20px;
  width: 50%;
  height: 150px;
}
.sector {
  width: 100%;
  height: 300px;
  border-bottom: 8px solid #d3d3d3;
  display: flex;
  flex-direction: column;

  align-items: center;
}
#inner-img {
  width: 50%;
  height: 70%;
}
#inner-img img {
  width: 100%;
  height: 100%;
}
#inner-title {
  width: 100%;
  height: 10%;
}
#inner-text {
  width: 100%;
  height: 20%;
}
/* 여기까지 수정완료 */
.section {
  margin-top: 15px;
  width: 100%;
  /* height: 80px; */
  /* border: 1px solid black; */
  display: flex;
}
.section_1 {
  width: 100%;
  /* height: 50px; */
}
.sec1_hd {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sec1_1 {
  width: 150px;
  /* height: 50px; */
  font-size: 20px;
  font-weight: bold;
}
.sec1_2 {
  width: 60px;
  height: 40px;
}
#btnimg {
  width: 30px;
  height: 30px;
}
.down-con {
  width: 100%;
  height: 250px;
  display: flex;
  text-align: left;
  flex-direction: column;
}
#optionTitle {
  font-size: 17px;
}
#optionTitle1 {
  font-size: 20px;
}
#optionTitle2 {
  font-size: 20px;
}
input {
  width: 18px;
  height: 18px;
  margin: 10px;
}
.main {
  border-top: 8px solid #d3d3d3;
  width: 100%;
  height: 80px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#but-con {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 100px;
}
#plusbtn {
  width: 25px; /* 변경 가능한 크기 */
  height: 25px; /* 변경 가능한 크기 */
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 20px; /* 변경 가능한 폰트 크기 */
  text-align: center;
  line-height: 10px; /* 버튼 높이와 동일하게 설정 */
  margin-right: 25px;
}
#result {
  font-weight: bold;
  font-size: 20px;
}
#minusbtn {
  width: 25px; /* 변경 가능한 크기 */
  height: 25px; /* 변경 가능한 크기 */
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 20px; /* 변경 가능한 폰트 크기 */
  text-align: center;
  line-height: 10px; /* 버튼 높이와 동일하게 설정 */
  margin-left: 25px;
}
#priceforadd {
  margin-top: 15px;
  width: 100px;
  height: 100px;
  font-weight: bold;
  font-size: 22px;
}
.footer {
  justify-content: space-between;
  width: 100%;
  height: 250px;
  /* border: 1px solid black; */
}
#footer-con {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
#recommend {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}
#recom-img {
  width: 40%;
  height: 50%;
}
#recom-img img {
  width: 100%;
  height: 100%;
}
#price-check {
  justify-content: center;
  text-align: left;
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

#lu {
  align-items: center;
  width: 30%;
  height: 50%;
  display: flex;
  justify-content: end;
}
.end {
  width: 100%;
  height: 100px;
  /* border: 1px solid black; */
  justify-content: space-between;
  display: flex;
}
#final {
  width: 100%;
  height: 100%;
  justify-content: space-between;

  display: flex;
}
#prd {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
#price {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: right;
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.realend {
  margin-bottom: 20px;
  height: 100px;
  margin-top: 20px;
  display: flex;
}
#bt1-1 {
  width: 250px;
  height: 70px;
  border: none;
  border-radius: 10px;
  background-color: rgb(204, 204, 204);
  color: rgb(102, 051, 000);
  font-weight: bold;
  font-size: 20px;
}
#bt2-1 {
  width: 250px;
  height: 70px;
  border: none;
  border-radius: 10px;
  background-color: rgb(102, 051, 000);
  color: white;
  font-weight: bold;
  font-size: 20px;
}
