* {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  /* overflow: hidden; */
  font-family: 'NanumGothicCoding';
}
body {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #f0f0f0;
  flex-wrap: nowrap;
}
.container {
  background-color: white;
  border: 2px solid #d3d3d3;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 550px;
  height: auto;
  min-height: 100%;
  display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}
.header {
      height: 80px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}
#top-left {
     width: 20%;
     height: 50px;
     display: flex;
           justify-content: center;
           align-items: center;
}
#top-center {
  width: 50%;
  height: 70px;
  display: flex;
        justify-content: center;
        align-items: center;
}
#top-right {
     width: 20%;
     height: 50px;
     display: flex;
           justify-content: center;
           align-items: center;
}
#stemp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
    margin: 0;
}
.sector {
 height: 40px;
     width: 90%;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .stamp_left{
 height:100%;
 width:30%;
  display: flex;
      justify-content: center;
      align-items: center;
 }
 .stamp_right{
 height:100%;
  width:30%;
   display: flex;
       justify-content: center;
       align-items: center;
  }


.btn {
  background-color: white;
  color: grey;
  border: 1px solid gray;
  border-radius: 20px;
  font-weight: 800;
}
#stamp2{
    margin: 0;
    font-size: 20px;
    font-weight: 800;
}

.main {
    height: 330px;
    width: 100%;
    display: flex;
    border-bottom: 50px;
    justify-content: center;
    align-items: center;
}
.stamp {
 border: 1px solid yellow;
     background-color: rgb(255 198 0 / 77%);
     border-radius: 50px;
     width: 90%;
     height: 80%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
}
.stamp_box {
  align-items: center;
  justify-content: center;
}
.stamp_inner {
  width: 20%;
  height: 30%;
}
.stamp_inner > img {
  width: 100%;
  height: 100%;
}
#list {
  width: 30px;
  height: 30%;
  border: 1px solid black;
  background-color: lightgrey;
  border-radius: 50%;
  /* margin: 20px; */
  margin-right: 35px;
  margin-left: 35px;
}
.footer {
  background-color: rgb(231, 229, 229);
      text-align: start;
      display: flex;
      flex-direction: column;
      height: 700px;
      width: 100%;
          align-items: center;

}
#text-inner {
      width: 90%;
}

#footer-title{
height: 15%;
    display: flex;
    align-items: center;
    margin: 0;
        font-weight: 800;
    }
#footer-text1{
    padding-bottom: 15px;
    font-weight: 700;
}
