<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메뉴 수정/삭제</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic-coding.css" rel="stylesheet">
    <script src="/js/admin.js"></script>
    <link rel="stylesheet" href="/css/admin_ed.css" />
  </head>
  <body>
    <div class="myContainer d-flex justify-content-start">
      <div class="menuImgCh m-3" style="width: 40%; height: 100%">
        <div
          class="image-container"
          style="border: 1px solid lightgray; width: 100%; height: 100%"
        >
          <img
            style="width: 100%; height: 100%"
            class="admin_item_img"
            id="imgItemImageUrl"
            th:src="${item.itemImageUrl}"
          />
        </div>
        <!-- 메뉴 이미지 찾기 버튼 -->
        <div class="menuImgChBtn">
          <button
            type="file"
            class="btn btn-primary mt-4"
            onclick="menu_Update_onClickUpload();"
          >
            변경
          </button>

          <input
            type="file"
            style="visibility: hidden"
            id="inputItemImageUrl"
            th:value="${item.itemImageUrl}"
            onchange="menu_Update_readURL(this);"
          />
        </div>
      </div>
      <!-- 수정하는 곳 -->
      <input type="hidden" id="inputItemNo" th:value="${item.itemNo}" />
      <input type="hidden" id="inputItemCode" th:value="${item.itemCode}" />
      <input
        type="hidden"
        id="inputItemRecommend"
        th:value="${item.itemRecommend}"
      />

      <div class="edScreen m-3" style="width: 60%; height: 100%">
        <div class="kategorie d-flex justify-content-start">
          <select
            id="inputItemCate"
            th:value="${item.itemCate}"
            class="form-select"
            style="width: 35%; height: 100%; margin-left: 15px"
          >
            <option value="hotcoffee">hotcoffee</option>
            <option value="icecoffee">icecoffee</option>
            <option value="decaf">decaf</option>
            <option value="ade">ade</option>
            <option value="tea">tea</option>
            <option value="smoothie">smoothie</option>
          </select>
        </div>
        <div class="form-floating d-flex m-3">
          <input
            type="text"
            class="form-control"
            id="inputItemName"
            th:value="${item.itemName}"
            placeholder="메뉴이름"
          />

          <label for="inputItemName">메뉴이름</label>
        </div>
        <div class="form-floating d-flex m-3">
          <input
            type="text"
            class="form-control"
            id="inputItemPrice"
            th:value="${item.itemPrice}"
            placeholder="가격"
          />
          <label for="inputItemPrice">가격</label>
        </div>

        <div class="noticeText m-3">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="inputItemExplanation"
              th:text="${item.itemExplanation}"
              style="height: 100px"
            ></textarea>
            <label for="inputItemExplanation">상세정보</label>
          </div>
        </div>
        <div class="m-3" style="padding-bottom: 20px">
          <tr>
            <td class="p-3">
              <button
                class="btn btn-primary"
                onclick="func_menu_updateAction();"
              >
                수정하기
              </button>
              <button class="btn btn-danger" onclick="closeWindow();">
                취소하기
              </button>
            </td>
          </tr>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
