<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메뉴 추가</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script src="js/admin.js"></script>
    <link rel="stylesheet" href="/css/admin_ed.css" />
  </head>
  <body>
    <!-- 전체 컨테이너 -->
    <div class="myContainer">
      <!-- 왼쪽 컨테이너 -->
      <div
        class="image-container"
        style="border-right: 1px solid lightgray; width: 50%; height: 100%"
      >
        <div class="addImg m-3">
          <img
            id="imgNoticeImageUrl"
            src="https://dummyimage.com/480x270/ffffff/000000.png&text=preview+image"
            style="width: 90%; height: 100%; margin-top: 50px"
            class="uploadImage"
          />
        </div>
        <div id="addImgBtn">
          <button
            type="file"
            class="btn btn-primary"
            onclick="notice_Add_onClickUpload();"
            style="margin-top: 10px"
          >
            변경
          </button>
        </div>
        <!--    저장할공간    -->
        <input
          type="file"
          style="visibility: hidden"
          id="inputNoticeImageUrl"
          onchange="notice_Add_readURL(this);"
        />
      </div>
      <!-- 오른쪽 컨테이너 -->
      <div class="addBox m-5" style="width: 50%; height: 100%">
        <div class="noticeInfo m-3">
          <select
            id="inputNoticeType"
            class="form-select"
            style="width: 25%"
            name="inputNoticeType"
          >
            <option value="bagic">BAGIC</option>
            <option value="event">EVENT</option>
          </select>
        </div>

        <div class="form-floating m-3" s>
          <input
            type="text"
            class="form-control"
            id="inputNoticeTitle"
            placeholder="제목"
            style="width: 80%; height: 100%"
          />
          <label for="inputNoticeTitle">제목</label>
        </div>

        <div class="form-floating m-3">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="inputNoticeContent"
            style="width: 80%; height: 150px"
          ></textarea>
          <label for="inputNoticeContent">상세정보</label>
        </div>

        <div class="addBtn mt-3">
          <button
            type="button"
            class="btn btn-danger"
            onclick="func_notice_AddAction();"
          >
            추가하기
          </button>
          <button
            type="button"
            class="btn btn-light"
            onclick="closeWindow();"
          >
            취소
          </button>
        </div>
      </div>
    </div>
    <script></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
