<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>메뉴 추가</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous"
  />
  <script src="js/admin.js"></script>
  <link rel="stylesheet" href="/css/admin_ed.css" />
</head>
<body>

<div class="myContainer d-flex justify-content-start">
  <!-- 이미지 업로드를 위한 부분 -->
  <div class="image-container" style="border: 1px solid lightgray; width: 30%; height: 350px">
    <img
            style="width: 100%; height: 100%"
            id="ImageUrl"
            src="https://dummyimage.com/500x500/ffffff/000000.png&text=preview+image"
    />
    <input style="display: block" type="file" id="itemImageUrl" onchange="previewImage()" />
  </div>

  <!-- 메뉴 정보 입력 부분 -->
  <div class="form-floating d-flex m-3">
    <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="메뉴이름"
            name="itemName"
    />
    <label for="floatingInput">메뉴이름</label>
  </div>

  <!-- 가격 입력 부분 -->
  <div class="form-floating d-flex m-3">
    <input
            type="text"
            class="form-control"
            id="Price"
            placeholder="가격"
            name="itemPrice"
    />
    <label for="Price">가격</label>
  </div>

  <!-- 카테고리 선택 부분 -->
  <div class="kategorie d-flex justify-content-start">
    <select
            id="Cate"
            class="form-select"
            style="width: 25%; height: 100%; margin-left: 15px"
            name="itemCate"
    >
      <option value="커피(HOT)">커피(HOT)</option>
      <option value="커피(ICE)">커피(ICE)</option>
      <option value="디카페인">디카페인</option>
      <option value="에이드">에이드</option>
      <option value="TEA">TEA</option>
      <option value="스무디&프라페">스무디&프라페</option>
    </select>
  </div>

  <!-- 상세 정보 입력 부분 -->
  <div class="noticeText m-3">
    <div class="form-floating">
      <input
              class="form-control"
              placeholder="Leave a comment here"
              id="Explanation"
              style="height: 100px"
              name="itemExplanation"
      >
      <label for="Explanation">상세정보</label>
    </div>
  </div>

  <!-- 버튼 부분 -->
  <div class="m-3" style="padding-bottom: 20px">
    <table>
      <tr>
        <td class="p-3">
          <a class="btn btn-primary" role="button" onclick="menuAddAction();">추가하기</a>
          <a class="btn btn-danger" role="button">취소</a>
        </td>
      </tr>
    </table>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
></script>

<script>
  // 이미지 미리보기 함수
  function previewImage() {
    var preview = document.getElementById("ImageUrl");
    var fileInput = document.getElementById("itemImageUrl");

    var file = fileInput.files[0];

    if (file) {
      var reader = new FileReader();

      reader.addEventListener("load", function () {
        preview.src = reader.result;
      });

      reader.readAsDataURL(file);
    }
  }

  // 메뉴 추가 액션 함수
  function menuAddAction() {
  let itemName = document.getElementById("floatingInput").value;
  let itemPrice = document.getElementById("Price").value;
  let itemCate = document.getElementById("Cate").value;
  let itemExplanation = document.getElementById("Explanation").value;
  let itemImageUrl = document.getElementById("itemImageUrl").value;

  let params = {
   itemName : itemName,
   itemCate : itemCate,
   itemPrice : itemPrice,
   itemExplanation : itemExplanation,
   itemImageUrl : itemImageUrl
   }

  // 서버로 데이터 전송
  fetch('/admin_menu_add2', {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify(params),
  })
    .then((response) => {
      console.log("response:" + response);
      return response.json();
    }) //HTTP 응답
    .then((json) => {
      //{ status: "ok", result: 5 }
      console.log("json:" + json);

      //다음페이지로 이동
<!--      window.location.href = "/admin_menu";-->
    }) //실제 데이타
    .catch((error) => {
      console.log(error);
    });
}
</script>
</body>
</html>
