<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic-coding.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />


    <link rel="stylesheet" href="/css/join.css" />
  </head>
  <body>
    <div class="container">
      <div class=" main">
      <div id="imgbox"><div id="megaimg"><img
              src="./img/login/LoginLogo.png"
              alt="로고"
              id="megaimg1"

      /></div>
      </div>
      <div class="input-form-backgroud row" style="width:100%;">
        <div class="input-form col-md-12 mx-auto">
          <!-- <h4 class="mb-3">회원가입</h4> -->
          <form class="validation-form" novalidate action="/join" method="post">


              <div id="box"><div class="box mb-3" >
                <div class="labelbox" > <label for="name" style="
    margin: 0;    font-weight: 800;
">아이디</label> </div>
                <div id="inputbox"><input
                  type="text"
                  class="form-control"
                  name="inputId"
                  id="name"
                  placeholder="ID"
                  value=""
                  required
                />
                </div>
                <div class="invalid-feedback">이름을 입력해주세요.</div>

                </div>
            </div>

              <div id="box"><div class="box mb-3">
                <div class="labelbox"><label for="nickname" style="
    margin: 0;    font-weight: 800;
">이름/닉네임</label></div>
                <div id="inputbox"><input
                  type="text"
                  class="form-control"
                  name="inputName"
                  id="nickname"
                  placeholder="NAME"
                  value=""
                  required
                />
                </div>
              </div>
                </div>


            <div id="box"><div class="box mb-3">
              <div class="labelbox"><label for="email" style="
    margin: 0;    font-weight: 800;
">비밀번호&nbsp;1차</label></div>
              <div id="inputbox"><input
                type="email"
                class="form-control"
                name="inputPw"
                id="email"
                placeholder="PASSWORD"
                required
              />
              </div>
            </div>
            </div>

            <div id="box"><div class="box mb-3">
              <div class="labelbox"><label for="address" style="
    margin: 0;    font-weight: 800;
">비밀번호&nbsp;2차</label></div>
              <div id="inputbox"><input
                type="text"
                class="form-control"
                name="inputPw2"
                id="address"
                placeholder="PASSWORD"
                required
              />
              </div>
            </div>
              </div>

            <div id="box"><div class="box mb-3">
              <div class="labelbox" > <label for="address2"
          style="
    margin: 0;    font-weight: 800;
">이메일<span class="text-muted">&nbsp;</span></label
              ></div>
             <div id="inputbox"> <input
                type="text"
                class="form-control"
                name="inputEmail"
                id="address2"
                placeholder="abc@exampel.com ."
              />
             </div>
            </div>
            </div>

            <hr class="mb-4" />
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="aggrement"
                required
              />
              <label class="custom-control-label" for="aggrement"
                >개인정보 수집 및 이용에 동의합니다.</label
              >
            </div>
            <div class="mb-4"></div>
            <button class="joinbox btn btn-primary btn-lg btn-block" type="submit" style=" background-color: rgb(258, 208, 0); color:black; border:none;" >
              가입 완료
            </button>
          </form>
        </div>
      </div>
      <footer class="my-3 text-center text-small">
        <p class="footer-p mb-1">&copy; 2023 MEGA</p>
      </footer>
    </div>
    </div>
    <script>
      <!--      window.addEventListener(-->
      <!--        "load",-->
      <!--        () => {-->
      <!--          const forms = document.getElementsByClassName("validation-form");-->

      <!--          Array.prototype.filter.call(forms, (form) => {-->
      <!--            form.addEventListener(-->
      <!--              "submit",-->
      <!--              function (event) {-->
      <!--                if (form.checkValidity() === false) {-->
      <!--                  event.preventDefault();-->
      <!--                  event.stopPropagation();-->
      <!--                }-->

      <!--                form.classList.add("was-validated");-->
      <!--              },-->
      <!--              false-->
      <!--            );-->
      <!--          });-->
      <!--        },-->
      <!--        false-->
      <!--      );-->
    </script>
  </body>
</html>
