<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>이벤트 공지사항</title>
  <link rel="stylesheet" href="css/lastevent.css" />
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic-coding.css" rel="stylesheet">
</head>
<body>
<div class="wrap">
  <div class="header">
    <div class="himg" onclick="goMain();">
      <img src="img/lastevent/back_stamp.png" alt="" />
    </div>
    <div class="hbtn">
      <div class="hbtn_event">이벤트</div>
      <div class="hbtn_notice" onclick="goLastnotice();">공지사항</div>
    </div>
  </div>
  <div class="section1" th:each="notice, status:${notice}">
    <div class="image-container">
      <img id="bb" th:src="${notice.noticeImageUrl}" alt="ban1" />
    </div>
    <div id="d1st-tx">
      <div id="tx-1" href="#">
        <h2 th:text="|[이벤트] ${notice.noticeTitle}|">
          [이벤트]메가MGC커피X미니언즈 시즌 출시 기념 이벤트
        </h2>
        <p th:text="${notice.noticeDatetime}">2023.12.07 ~ 2024.01.31</p>
      </div>
    </div>
  </div>
</div>
</body>
<script>
  function goLastnotice(){
  window.location.href="/lastNotice";
  }
  function goMain(){
window.location.href="/main";
}
</script>
</html>
