<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메가선불카드</title>
    <link rel="stylesheet" href="/css/PayCard.css" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <div class="hicon">
          <div class="hicon_1">
            <img src="img/paycard/warning.png" alt="" />
          </div>
        </div>
        <div class="htext">
          <p>메가선불카드</p>
        </div>
        <div class="hicon_2">
          <div class="hicon_2-1">
            <img src="img/paycard/reload.png" alt="" />
          </div>
          <div class="hicon_2-2">
            <img src="img/paycard/setting.png" alt="" />
          </div>
        </div>
      </div>
      <div class="main">
        <div class="cardbox">
          <button>
            <img src="img/paycard/cardbut.png" alt="" />
          </button>
        </div>
      </div>
      <div class="section">
        <div class="section_1">
          <div class="sec1_hd">
            <div class="sec1_1">유의사항</div>
            <div class="sec1_2">
              <button onclick="downpage();">
                <img id="btnimg" src="img/paycard/up.png" alt="" />
              </button>
            </div>
          </div>

          <div class="sec1_text">
            <p>
              1. 신규 메가선불카드는 모바일에서만 구입이 가능합니다. <br />
              2. 구입하신 메가선불카드의 충전은 모바일앱에서 가능합니다. <br />
              3. 메가선불카드로 결제 시 일부 메뉴는 적립이 불가능할 수 있습니다.
              <br />
              4. 해당 카드는 매장에서 현금으로 교환되지 않으며, 별도로 거래될 수
              없습니다 <br />
              5. 1회 최대 100,000원까지 충전이 가능합니다. <br />
            </p>
          </div>
        </div>
        <div class="section_2">
          <div class="sec2_hd">
            <div class="sec2_1">잔액환불규정</div>
            <div class="sec2_2">
              <button onclick="downpage2();">
                <img id="btnimg2" src="img/paycard/up.png" alt="" />
              </button>
            </div>
          </div>
          <div class="sec2_text">
            <p>
              1. 메가선불카드는 60%이상 사용 시 환불 신청이 가능합니다. <br />
              2. 최초 유효기간은 결제 후 일주일입니다. <br />
              3. 최초 유효기간 이내에는 미사용시 환불신청금액의 100% 환불이
              가능합니다. <br />
              4. 구매일로부터 5년 이내 사용 후 남은 잔액에 한하여 환불신청이
              가능합니다 <br />
              5. 매장에서는 잔액 환불이 불가합니다. 환불 관련 문의는 고객센터
              1:1 문의 남기기 혹은 카카오톡 채널(ID:발트루스트)로 문의주세요.
              (운영시간 평일 10:00~17:00, 점심시간 12:00~13:00 / 주말 및 공휴일
              휴무)
            </p>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="fmenu" onclick="mainPage();">
          <div class="fimg">
            <img src="/img/paycard/c1.png" alt="메인" />
          </div>
          <div class="ftext">메인</div>
        </div>
        <div class="fmenu" onclick="payCard();">
          <div class="fimg">
            <img src="/img/paycard/c2.png" alt="메가선불카드" />
          </div>
          <div class="ftext">메가선불카드</div>
        </div>
        <div class="fmenu" onclick="megaOrder();">
          <div class="fimg">
            <img src="/img/paycard/c3.png" alt="메가오더" />
          </div>
          <div class="ftext">메가오더</div>
        </div>
        <div class="fmenu" onclick="seeMore();">
          <div class="fimg">
            <img src="/img/paycard/c4.png" alt="더보기" />
          </div>
          <div class="ftext">더보기</div>
        </div>
      </div>
    </div>

    <script src="js/PayCard.js"></script>
  </body>
</html>
